<div class="page-component" id="landing-component">
  <div id="landing-text" class="vertical-center">
    <%= image_tag("logo.png", id:"logo-big", class:"center")%>
    <h1 style="text-align: center; font-weight: 700">Scooter Parts Breda</h1>
    <h3 style="text-align: center">Dé scooterspecialist in Breda en omstreken</h2>
  </div>
</div>
<div class="page-component" id="about-1">
  <div class="container">
    <h1 class="header-text">dit zijn wij</h1>
  </div>
</div>
<div id="about-2">
  <div class="container">
    <h1 class="header-text">dit doen wij</h1>
  </div>
</div>
<div class="page-component" id="parts">
  <div class="container">
    <h1 class="header-text">onderdelen</h1>
  </div>
</div>
<div class="page-component" id="contact">
  <div class="container">
    <h1 class="header-text">contact</h1>
  </div>
</div>
