@import "bootstrap";
@import "header";
@import "buttons";
@import "images";

 body {
  font-family: 'Roboto', sans-serif;
 }

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.page-component {
  height: 90vh;
}

#landing-component {
  margin-top: auto;
  margin-bottom: auto;
  // height: 90vh !important;
}

#about {
  background-color: rgb(32, 32, 32);
  color: white;
}

#about-1-wrapper-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-1-wrapper-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-2 {
  background-color: white;
  color: black;
  height: 100vh;
}

#about-2-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-text-1 {
  font-size: 18px;
  padding: 24px;
  color:rgb(232, 232, 232);
}

.about-text-2 {
  font-size: 18px;
  padding: 24px;
  text-align: right;
  color:rgb(232, 232, 232);
}

.about-text-3 {
  width: 350px;
}

#parts {
  background-color: rgb(32, 32, 32);
  color: white;
}

#contact {
  background-color: white;
  color: black;
}

.header-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 200;
  font-size: 90px;
  letter-spacing: .3rem;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form-text-area {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 2px;
  margin: 6px 0;
}

#footer {
  display: flex;
  align-items: center;
  color: rgb(206, 206, 206);
  margin-top: 24px;
  margin-bottom: 24px;
  height: 70px;
  a {
    color: rgb(206, 206, 206);
  }
}
