#header {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header-wrapper {
  background-color: white;
  display: flex;
  height: 70px;
  z-index: 1;
  align-items: center;
}

#navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 0 12px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: .1rem;
  color: black;
  &:hover {
    color: black;
    &:hover {
      background-color: white;
      color: black;
      padding: 4px 10px;
      border: 2px solid black;
      border-radius: 2px;
    }
  }
}
